fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
motor
tensorflow
keras
numpy
opencv-python-headless
pillow
pydicom
streamlit
requests
pandas
fpdf2
matplotlib
seaborn
python-dotenv
argon2-cffi
pytest
httpx
gdown