fastapi
uvicorn
python-multipart
python-jose[cryptography] # For JWT
passlib[bcrypt] # For password hashing
motor
tensorflow-cpu
numpy
opencv-python-headless
pillow
pydicom
python-dotenv
argon2-cffi # Dependency for passlib
huggingface-hub